@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1665910173043') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouji:before {
  content: "\3448";
}

.icon-guanzhu:before {
  content: "\f00ed";
}

.icon-daifahuo:before {
  content: "\f0138";
}

.icon-daifukuan:before {
  content: "\f013c";
}

.icon-shouhouwuyou:before {
  content: "\f014d";
}

.icon-31daipingjia:before {
  content: "\f01c7";
}

.icon-shouhuodizhi:before {
  content: "\e64e";
}

.icon-shangpinshoucang:before {
  content: "\e608";
}

.icon-daishouhuo:before {
  content: "\e640";
}

.icon-shoucang:before {
  content: "\eca7";
}

.icon-shouye:before {
  content: "\e60d";
}

.icon-wodeqianfenleishouye:before {
  content: "\e60f";
}

.icon-gouwuchezhengpin:before {
  content: "\e610";
}

.icon-kefu:before {
  content: "\e606";
}

.icon-pingjiaguanli:before {
  content: "\e66a";
}

.icon-icon-safe-bluefuben:before {
  content: "\e611";
}

.icon-fenlei:before {
  content: "\e63d";
}

.icon-shangpu:before {
  content: "\e635";
}

.icon-lingjuanzhongxin:before {
  content: "\e63f";
}

.icon-fabuqiugou:before {
  content: "\e638";
}

.icon-liulanjilu:before {
  content: "\e688";
}

.icon-guanfangkefu:before {
  content: "\e612";
}

